<h1>High Scores</h1>

<%= link_to 'New Standing', new_standing_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Initials</th>
      <th>Score</th>
      <th>Photo</th>
      <th>Location</th>

    </tr>
  </thead>

  <tbody>
    <% @standings.each do |standing| %>
      <tr>
        <td><%= standing.initials %></td>
        <td><%= standing.score %></td>
        <td>
          <img src="http://www.refugezero.com/src/image/screens/pacman-screen1.jpg" width="100" height="100">
        </td>
        <td>
          <% if standing.location %>
            <%= standing.location.name %>
          <% else %>
            none
          <% end %> 
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


