<div class="page-header">
  <h1>About LexPlayPacman</h1>
</div>
<p>LexPlayPacman was an idea that formed in the mind of Eli Riviere Warner and chased her like Blinky until she allowed it to consume her. It is a project of the Lexington Public Library, at which Eli is a librarian. She initiated the endeavor in the hopes of getting Lexingtonians involved in a friendly competition while raising awareness of the valuable resources offered by the library. LexPlayPacman is a Pacman/Ms. Pacman tournament which kicks off __________ and wraps up ___________. Competitors may play at any time between these dates at the businesses <%= link_to 'at these locations', locations_path %>. You can play as many times as you want to maintain a high score. Just simply play and <%= link_to 'enter your information', new_standing_path %> to claim a space on the LexPlayPacman leaderboard!</p>

<p>Eli is a member of the Sassy Ladies Coding Club, a group of young women in Lexington who are learning the ins and outs of programming. These Sassy Ladies are super excited that their first project is the LexPlayPacman website! The Club was started by Ashley Greer Wilson who had a desire to pass on her knowledge of coding to other women. She and other programming goddess Sarah Vessels teach the class of five regular pupils. The group is made up of ladies at all stages in the learning process and meets weekly to cover different topics and design websites like the very one you are viewing right now.</p>

<p>Please contact <a href="mailto:ewarner@lexpublib.org">Eli</a> with questions and comments, OR to tell us about a machine location we don't know about yet!</p>

<p>Have fun, and good luck!</p>
