.standings-table {
  width: auto;
  margin: 0 auto;

  .row-1, .row-1 a {
    color: #F121BE;
  }

  td, th {
    font-size: 1.3em;
    font-family: 'Press Start 2P', monospace;
    font-weight: 400;
  }

  thead th {
    color: #777;
  }

  a {
    color: #444;
    display: block;

    .fa-twitter {
      vertical-align: top;
      margin-top: -2px;
      line-height: 26px;
      padding-right: 0.3em;
    }
  }

  .fa.fa-map-marker {
    vertical-align: middle;
    margin-top: -6px;
  }
}

.strong {
  font-weight: bold;
}

.weak {
  font-weight: none;
}

@media only screen and (max-device-width: 480px) {
  .standings-table {
    td, th {
      font-size: 11px;
    }
  }
}
