.standings-table {
  width: auto;
  margin: 0 auto;

  .row-1, .row-1 a {
    color: #F121BE;
  }

  td, th {
    font-size: 1.3em;
    font-family: 'Press Start 2P', monospace;
    font-weight: 400;
  }

  thead th {
    color: #777;
  }

  a {
    color: #444;
  }
}
